@{
  ViewData["Title"] = "サークルについて";
}

<div>
  <h1>@ViewData["Title"]</h1>
  <h2>はじめに</h2>
  <p>
    私たちのサークル「蹊モンガ」は、ポケモンの魅力を広めたいという想いから2021年10月5日に設立されました。
    ポケモンを愛するメンバーが集まり、日々楽しく活動しています。
  </p>

  <h2>活動内容</h2>
  <p>
    主な活動内容としては、ポケモンゲームの対戦や交換、ポケモンカードゲームの対戦、ポケモンに関連するイベントの企画・運営などを行っています。
    また、ポケモンに関する知識を深めるための勉強会や、メンバー同士の交流を深めるためのレクリエーションも積極的に行っています。
    これにより、メンバーはポケモンの世界を深く理解し、さらに楽しむことができます。
  </p>

  <h3>活動場所</h3>
  <p>
    私たちの活動場所は、成蹊大学9号館405号室です。
    ここで毎週決まった時間に集まり、様々な活動を行っています。
    前期の活動時間は毎週火曜日と水曜日の16:50から20:45までです。
    広々としたスペースで、リラックスしながら活動に参加できます。
  </p>

  <h3>設立の経緯</h3>
  <p>「蹊モンガ」は、ポケモンの魅力をもっと多くの人に伝えたいという強い想いから設立されました。
    2021年10月5日に設立され、以来、多くのメンバーがポケモンの楽しさを共有し、交流を深めています。
    サークルの設立当初から、一貫して「ポケモンを通じて楽しい時間を共有する」という目標を掲げています。
  </p>

  <p>
    ポケモンが好きな方ならどなたでも大歓迎です！
    ぜひ一度、私たちの活動に参加してみてください。
    新しい仲間と共に、ポケモンの世界を楽しみませんか！
  </p>
</div>
