@{
  ViewData["Title"] = "活動内容";
}

<style>
  .indent p { text-indent: 1em; }
  .content-wrapper { max-width: 500px; margin: 0 auto; }
  .section-container { margin: 100px 0; }
</style>

<div class="container mt-5">
  <div class="content-wrapper indent">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="section-container">
      <h2>活動について</h2>
      <p>
        私たちの主な活動は、ポケットモンスターシリーズの対戦や交換、そして無料かつチームで協力して遊べることが強みの「ポケモンユナイト」を主軸としており、他団体とは一味違った活動を体験できます。
        また、ポケモンに関する知識を深めるための勉強会や、メンバー同士の交流を深めるレクリエーションも行っています。
        近年では、他大学のサークルとの対面交流会に参加させていただいたり、「ポケモンユナイト大学祭2022」の運営も担当しました。
      </p>
    </div>

    <div class="section-container">
      <h2>活動場所</h2>
      <p>
        活動場所は成蹊大学の9号館405号室です。
        前期は毎週火曜日と水曜日の16:50から20:45まで活動しています。
        広々としたスペースでリラックスしながら、楽しく活動できます。
      </p>
    </div>
  </div>
</div>
