@{
  ViewData["Title"] = "蹊モンガ";
}

<style>
  .custom-title {
    font-size: 5rem;
  }
</style>

<div class="container mt-2">
  <h1 class="custom-title">Keimolga - @ViewData["Title"]</h1>
  <p class="mt-4">成蹊大学ポケモンサークルの公式ホームページです。こちらではサークルについてをご紹介いたします！</p>
</div>
