@{
  ViewData["Title"] = "蹊モンガ公式HP";
}

<div>
  <h1>@ViewData["Title"]</h1>
  <a href="https://pokemondb.net/pokedex/emolga">
    <img src="https://img.pokemondb.net/sprites/sword-shield/normal/emolga.png" alt="Emolga">
  </a>
  <p>ポケモンの魅力を伝えたい想いから生まれたサークルです。</p>
</div>
