@{
  ViewData["Title"] = "蹊モンガ公式HP";
}

<div class="container mt-5 text-center">
  <h1>@ViewData["Title"]</h1>

  <a href="https://pokemondb.net/pokedex/emolga">
    <img src="https://img.pokemondb.net/sprites/sword-shield/normal/emolga.png" alt="Emolga" class="img-fluid my-4">
  </a>

  <p>
    蹊モンガの公式ホームページへようこそ！こちらではサークルについてをご紹介いたします。
  </p>
</div>
